<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492796542773-mvu2hb22sonmjpjt8vaqg9tflv48pd3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492796542773-mvu2hb22sonmjpjt8vaqg9tflv48pd3j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>492796542773-dua7qe23js8i4ridjc4nrlvk7h65729a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3lbtY9gt3Ej9xaXIc74bDXGnMOZDm-Lw</string>
	<key>GCM_SENDER_ID</key>
	<string>492796542773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>convo-14c4d</string>
	<key>STORAGE_BUCKET</key>
	<string>convo-14c4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492796542773:ios:6243c976e34636092a567c</string>
</dict>
</plist>